.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  background-color: #F5855A;
  min-height: 91vh;
  overflow: hidden;
  gap: 3rem;
}

.flexCenter {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-items: center;
  gap: 1rem
}

.textSvg {
  align-items: start;
  justify-content: start;
  display: flex;
  text-align: start;
  width: 100%;
}

.subHeading {
  font-size: 4rem;
}

.buttons {
  display: flex;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 2rem 0.1rem;
  gap: 2rem;
  margin-top: 3rem;
}

.buttons>a>button {
  width: 30rem;
  cursor: pointer;
  color: white;
  height: 7.7rem;
  font-family: 'Concert One', cursive;
  border: none;
  outline: none;
  padding: 0rem 0 1.6rem 0em;
  font-size: 4rem;
  background: #EF4D90;
  border-radius: 1.5rem;
}


.logoImg {
  max-width: 50rem;

}

@media screen and (max-width: 1300px) {
  .buttons>a>button {
    width: 20rem;
  }

  .logoImg {
    margin-bottom: 0rem;
    max-width: 25rem;
  }
}

@media screen and (max-width: 700px) {

  .buttons>a>button {
    width: 15rem;
    height: 6rem;
    font-size: 3rem;
  }

  .logoImg {
    margin-bottom: 0rem;
    max-width: 20rem;
  }

  .buttons {
    margin-top: 2rem;

  }

  .main {
    gap: 1.5rem;
    padding: 4rem;
  }

  .textSvg {
    min-width: 30rem;
  }

  .subHeading {
    font-size: 3.5rem;
  }

}